.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 30px;
    border-bottom: 1px solid rgb(216, 216, 216, 0.1);
}
.logo__img {
    width: 50px;
    height: 50px;
}

.logo__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.stat__label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(255, 255, 255, 0.5);
    padding-bottom: 20px;
}